{% extends 'base.html' %}

{% load static i18n %}


{% block header %}

    <div class="w-100 d-block">
        <h1 class="h3 mb-0 text-gray-800 d-inline">Add new coin pair</h1>
    </div>

{% endblock %}


{% block content %}

    
    <div class="row">
        <div class="col-sm-12 col-md-6 card mt-5 px-5 py-5" style="margin: auto;">
            <form method="post">
                {% csrf_token %}
                <div class="mb-2">
                  <legend>Add new coin pair</legend>
                </div>
                <fieldset>


                    {% if form.non_field_errors %}
                      <ul>
                        {% for error in form.non_field_errors %}
                          <li>{{ error }}</li>
                        {% endfor %}
                      </ul>
                    {% endif %}

                    {% for field in form.visible_fields %}
                      {% if form.is_bound %}
                        {% if field.errors %}
                          {% for error in field.errors %}
                            <div class="col">
                              {{ error }}
                            </div>
                          {% endfor %}
                        {% endif %}
                      {% endif %}
                    {% endfor %}

                    <div class="form-group row">
                      {% for field in form.visible_fields %}
                        <div class="col-sm-6">
                            {{ field }}
                        </div>
                      {% endfor %}
                    </div>

                    {% for h_field in form.hidden_fields %}
                        {{ h_field }}
                    {% endfor %}

                    <button type="submit" class="btn btn-primary btn-user btn-block">
                      SAVE COIN PAIR
                    </button>

                <fieldset>

            </form>
        </div>

    </div>

{% endblock %}
